---
import Section from "./Section.astro";
import SectionHeader from "./SectionHeader.astro"
import { getCollection } from "astro:content";

const projects = await getCollection('project');

const heading = "My Projects";
const cta = { text: 'View All', href: '/projects' };
---
<Section dark={true}>
  <SectionHeader cta={cta} heading={heading}/>

  <div class="projects-container">
    {
      projects.map(project => (
        <div class="card">
          <a href={`/projects/${project.data.slug}`}><img  src={project.data.image} alt={project.data.title}/></a>
          <h3><a href={`/projects/${project.data.slug}`}>{project.data.title}</a></h3>
        </div>
      ))
    }
  </div>
</Section>

<style>

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    
  }
  
  img{
    height: 192px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
    .card {
      overflow: hidden;
      transition: transform 0.3s;
      display: flex;
      flex-direction: column;
    }

    h3 {
      margin-top: 20px;;
    }
      
      a {
        text-decoration: none;
        color: var(--dark);
        font-weight:  600;
        font-size: 18px;
      }
      
      @media (max-width: 700px) {
        .projects-container {
          grid-template-columns: 1fr;
        }

      }

</style>